---
import './blog-search-form.scss'
---

<form class="blog-search-form">
    <input class="blog-search-form__input" type="text" placeholder="Поиск по блогу">
    <button class="blog-search-form__submit" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>