<div class="products-swiper swiper">
    <div class="swiper-wrapper">
        <slot />
    </div>
</div>

<script>
    import initSwiper from './swiper';
    import { relatedProductsSwiperConfig } from './config';
    import "swiper/swiper-bundle.css";
    initSwiper('.products-swiper', relatedProductsSwiperConfig);
</script>