---
import AdvantageItem from "../AdvantageItem/AdvantageItem.astro";
---

<section class="advantages">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg col-md-4 col-sm-6 col-12 mb-3">
                <AdvantageItem
                    imgSrc="/assets/images/advantages/icon-1.jpg"
                    imgAlt="Преимущество"
                    title="Доставка"
                    subtitle="По всей Беларуси"
                />
            </div>
            <div class="col-lg col-md-4 col-sm-6 col-12 mb-3">
                <AdvantageItem
                    imgSrc="/assets/images/advantages/icon-2.jpg"
                    imgAlt="Преимущество"
                    title="Доставка"
                    subtitle="По всей Беларуси"
                />
            </div>
            <div class="col-lg col-md-4 col-sm-6 col-12 mb-3">
                <AdvantageItem
                    imgSrc="/assets/images/advantages/icon-3.jpg"
                    imgAlt="Преимущество"
                    title="Доставка"
                    subtitle="По всей Беларуси"
                />
            </div>
            <div class="col-lg col-md-4 col-sm-6 col-12 mb-3">
                <AdvantageItem
                    imgSrc="/assets/images/advantages/icon-4.jpg"
                    imgAlt="Преимущество"
                    title="Доставка"
                    subtitle="По всей Беларуси"
                />
            </div>
            <div class="col-lg col-md-4 col-sm-6 col-12 mb-3">
                <AdvantageItem
                    imgSrc="/assets/images/advantages/icon-5.jpg"
                    imgAlt="Преимущество"
                    title="Доставка"
                    subtitle="По всей Беларуси"
                />
            </div>
        </div>
    </div>
</section>
