---
import SocialLink from "../SocialLink/SocialLink.astro";
---

<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row footer-top__container">
                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="footer__title">Контакты</div>
                    <p class="footer__description">
                        Lorem ipsum dolor sit amet, consectetu adipiscing elite
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua quis ipsum suspendisse.
                    </p>
                    <ul class="contacts-list">
                        <li class="contacts-list__item">
                            <i class="contacts-list__icon fa-solid fa-map"></i>
                            <span class="contacts-list__text">4331 Dominion St, Burnaby, BC V5G 1C7, Canada
                                7X4V+M2 Burnaby, British Columbia, Canada</span>
                        </li>
                        <li class="contacts-list__item">
                            <i class="contacts-list__icon fa-solid fa-map"></i>
                            <span class="contacts-list__text"><a class="contacts-list__link" href="tel:(+80)123 456 789">(+80)123 456 789</a> <br><a class="contacts-list__link" href="tel:(+80)123 456 789">(+80)123 456 789</a></span>
                        </li>
                        <li class="contacts-list__item">
                            <i class="contacts-list__icon fa-solid fa-map"></i>
                            <span class="contacts-list__text"><a class="contacts-list__link" href="mailto:info@example.com">info@example.com</a></span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-12 d-flex flex-column mb-4">
                    <div class="footer__title">Магазины</div>
                    <a href="" class="footer__link">Минск</a>
                    <a href="" class="footer__link">Гомель</a>
                    <a href="" class="footer__link">Могилев</a>
                    <a href="" class="footer__link">Брест</a>
                    <a href="" class="footer__link">Гродно</a>
                    <a href="" class="footer__link">Витебск</a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-12 d-flex flex-column mb-4">
                    <div class="footer__title">Обслуживание</div>
                    <a href="" class="footer__link">Минск</a>
                    <a href="" class="footer__link">Гомель</a>
                    <a href="" class="footer__link">Могилев</a>
                    <a href="" class="footer__link">Брест</a>
                    <a href="" class="footer__link">Гродно</a>
                    <a href="" class="footer__link">Витебск</a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-12 d-flex flex-column mb-4">
                    <div class="footer__title">Информация</div>
                    <a href="" class="footer__link">Минск</a>
                    <a href="" class="footer__link">Гомель</a>
                    <a href="" class="footer__link">Могилев</a>
                    <a href="" class="footer__link">Брест</a>
                    <a href="" class="footer__link">Гродно</a>
                    <a href="" class="footer__link">Витебск</a>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-6 col-12 mb-4">
                    <div class="footer__title">Instagram</div>
                    <div class="row">
                        <div class="col-4 mb-3">
                            <a href="/assets/images/footer/gallery1.jpg" class="glightbox">
                                <img src="/assets/images/footer/gallery1.jpg" alt="" class="footer__gallery-image">
                            </a>
                        </div>
                        <div class="col-4 mb-3">
                            <a href="/assets/images/footer/gallery1.jpg" class="glightbox">
                                <img src="/assets/images/footer/gallery1.jpg" alt="" class="footer__gallery-image">
                            </a>
                        </div>
                        <div class="col-4 mb-3">
                            <a href="/assets/images/footer/gallery1.jpg" class="glightbox">
                                <img src="/assets/images/footer/gallery1.jpg" alt="" class="footer__gallery-image">
                            </a>
                        </div>
                        <div class="col-4 mb-3">
                            <a href="/assets/images/footer/gallery1.jpg" class="glightbox">
                                <img src="/assets/images/footer/gallery1.jpg" alt="" class="footer__gallery-image">
                            </a>
                        </div>
                        <div class="col-4 mb-3">
                            <a href="/assets/images/footer/gallery1.jpg" class="glightbox">
                                <img src="/assets/images/footer/gallery1.jpg" alt="" class="footer__gallery-image">
                            </a>
                        </div>
                        <div class="col-4 mb-3">
                            <a href="/assets/images/footer/gallery1.jpg" class="glightbox">
                                <img src="/assets/images/footer/gallery1.jpg" alt="" class="footer__gallery-image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-12 d-flex mb-3">
                    <SocialLink link="" social="facebook" />
                    <SocialLink link="" social="instagram" />
                    <SocialLink link="" social="youtube" />
                    <SocialLink link="" social="viber" />
                    <SocialLink link="" social="telegram" />
                </div>
                <div class="col-xl-5 col-md-6 col-12 mb-3 d-flex align-items-center text-md-start text-center">
                    <div class="footer-middle__title">
                        Оставьте номер и получите <span> скидку до 35%!</span> 
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-12 mb-3 d-flex justify-content-end">
                    <form class="footer-form">
                        <input type="tel" class="footer-form__input" placeholder="Ваш номер" required>
                        <button type="submit" class="footer-form__submit">Отправить</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-12 d-flex align-items-center justify-content-sm-start justify-content-center mb-3">
                    <div class="footer__copyright">
                        ООО "Зикмес" © 2023 Все права защищены
                     </div>
                </div>
                <div class="col-sm-6 col-12 d-flex justify-content-sm-end justify-content-between align-items-center mb-3">
                    <img src="/assets/images/footer/maestro.png" alt="" class="footer__payment-image">
                    <img src="/assets/images/footer/mastercard.png" alt="" class="footer__payment-image">
                    <img src="/assets/images/footer/visa.png" alt="" class="footer__payment-image">
                    <img src="/assets/images/footer/belcard.png" alt="" class="footer__payment-image">
                    <img src="/assets/images/footer/erip.png" alt="" class="footer__payment-image">
                </div>
            </div>
        </div>
    </div>
</footer>
