<div class="categories__header">
    <div class="categories__section">
        <span class="categories__text fw-bold me-2">Вывод</span>
        <button class="categories__button active" data-type="grid">
            <i class="fa-solid fa-table-cells-large"></i>
        </button>
        <button class="categories__button" data-type="list">
            <i class="fa-solid fa-list"></i>
        </button>
        <span class="ms-4 categories__text fw-bold">Товары 1-12 из 16</span>
    </div>
    <div class="categories__section">
        <span class="categories__text me-2">Сортировать по:</span>
        <select name="sort-by" class="categories__select">
            <option>Цена</option>
            <option>Название</option>
            <option>Позиция</option>
        </select>
        <button class="categories__button categories__button_no-border">
            <i class="fa-solid fa-up-long"></i>
        </button>
    </div>
</div>