---
import { getMinPrice } from '../../../scripts/util/util';

interface Props {
    product: any;
}

const {handle, title, images}= Astro.props.product;
const price = getMinPrice(Astro.props.product.variants);
---

<div class="product-sidebar__item">
    <div class="row">
        <div class="col-lg-4 col-sm-2 col-4 d-flex align-items-center">
            <a href={`/products/${handle}`}>
                <img class="product-sidebar__image" src={images[0]?.url || '/assets/images/products/product1.jpg'} alt="">
            </a>
        </div>
        <div class="col-lg-8 col-sm-10 col-8 d-flex flex-column justify-content-center">
            <a href={`/products/${handle}`} class="product-sidebar__title">
                {title}
            </a>
            <div class="product-sidebar__price">
                <span class="product-sidebar__actual-price">от {price} р.</span>
            </div>
        </div>
    </div>

</div>