---
import "./search-bar.scss";
---

<form class="searchBar">
    <select class="searchBar__select">
        <option value="">Все категории</option>
        <option value="">--Категория 1</option>
        <option value="">--Категория 2</option>
        <option value="">---- Подкатегория 2.1</option>
    </select>
    <input type="text" class="searchBar__input" placeholder="Введите запрос">
    <button type="submit" class="searchBar__submit"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>